<footer class="bg-light text-dark pt-3 pb-1">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>About Reuse Hub</h5>
        <p>
          ReuseHub is a second-hand store offering a platform for buying and
          selling items at low prices, promoting sustainability and reducing
          waste.
        </p>
      </div>

      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/items" class="text-dark">Home</a></li>
          <li><a href="/items/new" class="text-dark">Sell your item</a></li>
          <li><a href="/login" class="text-dark">Login</a></li>
          <li><a href="/signup" class="text-dark">Sign Up</a></li>         
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li>V K Nithyanand - 22102A041115</li>
          <li>V Lokesh - 22102A041117</li>
          <li>V Yugesh - 22102A041119</li>
          <li>Yamala Veerabhadra Rao - 22102A041141</li>
          <li>Kozhukkulli Shyam Kumar - 22102A041152</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="text-center">
  <small>&copy; 2024 Reuse Hub. All Rights Reserved.</small>
</div>
